# Ejecutables Windows
*.exe
*.bat
*.cmd

# Ejecutables Linux / Unix
*.out
*.bin
*.run

# Archivos compilados comunes
*.o
*.so
*.a

# Binarios genéricos
*.dll
*.class
Practica 2/practica2_crea_archivos
