Practica 2/*
!Practica 2/*.c
!Practica 2/*.h
Practica3/*
!Practica3/*.asm
!Practica4/*
Practica4/prueba
# Ignorar todo dentro de Practica5
Practica5/**

# Permitir recorrer directorios
!Practica5/**/

# Permitir .c y .h
!Practica5/**/*.c
!Practica5/**/*.h

!Practica6/**/
!Practica6/**/*.c
!Practica6/**/*.h

!Practica7/**/
!Practica7/**/*.c
!Practica7/**/*.h

